.f-l {
  float: left;
}
.f-r {
  float: right;
}
.d-i {
  display: inline;
}
.d-ib {
  display: inline-block;
}
.d-b {
  display: block;
}
.nd-b {
  display: none;
}
.ta-l {
  text-align: left;
}
.ta-c {
  text-align: center;
}
.ta-r {
  text-align: right;
}
.va-t {
  vertical-align: middle;
}
.va-b {
  vertical-align: bottom;
}
.va-t {
  vertical-align: top;
}
.p-r {
  position: relative;
}
.p-a {
  position: absolute;
}
.p-f {
  position: fixed;
}
.text-h {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.clear:after {
  content: "";
  clear: both;
  width: 100%;
  display: block;
}
.html_body #home .banner {
  width: 100%;
}
.html_body #home .banner .swiper-slide img {
  width: 100%;
  height: 1.86666667rem;
}
.html_body #home .banner .swiper-container-horizontal > .swiper-pagination-bullets,
.html_body #home .banner .swiper-pagination-custom,
.html_body #home .banner .swiper-pagination-fraction {
  bottom: 0.08666667rem;
}
.html_body #home .banner .swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
  width: 0.09333333rem;
  height: 0.09333333rem;
  margin: 0rem 0.03333333rem 0rem 0.03333333rem;
}
.html_body #home .banner .swiper-pagination-bullet-active {
  background: #fae84c;
}
.html_body #home .movieList {
  width: 100%;
  background: #fff;
  padding: 0.2rem 0rem 0.2rem 0rem;
  margin-bottom: 0.13333333rem;
}
.html_body #home .movieList .swiper-container2 {
  width: 100%;
  overflow-x: hidden;
}
.html_body #home .movieList .swiper-container2 .swiper-wrapper {
  padding: 0rem 0rem 0rem 0.2rem;
}
.html_body #home .movieList .swiper-container2 .swiper-slide {
  margin-right: 0.09333333rem;
  width: 1.42666667rem;
}
.html_body #home .movieList .swiper-container2 .swiper-slide:last-of-type {
  margin-right: 0.18666667rem;
}
.html_body #home .movieList .swiper-container2 .swiper-slide img {
  width: 100%;
}
.html_body #home .movieList .swiper-container2 .swiper-slide div {
  width: 0.38666667rem;
  height: 0.21333333rem;
  left: 0;
  top: 0;
  z-index: 2;
}
.html_body #home .movieList .swiper-container2 .swiper-slide div.new {
  background: #f47000;
}
.html_body #home .movieList .swiper-container2 .swiper-slide div.presell {
  background: #3fb1f8;
}
.html_body #home .movieList .swiper-container2 .swiper-slide div span {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  font-size: 0.13333333rem;
  line-height: 0.24066667rem;
  color: #fff;
}
.html_body #home .movieList .swiper-container2 .swiper-slide dl {
  width: 100%;
}
.html_body #home .movieList .swiper-container2 .swiper-slide dl dt {
  font-weight: normal;
  font-size: 0.16rem;
  line-height: 0.21333333rem;
  color: #2b2b2b;
  padding: 0.14666667rem 0rem 0.04rem 0rem;
  font-weight: bold;
}
.html_body #home .movieList .swiper-container2 .swiper-slide dl dd .starBox {
  width: 0.58666667rem;
  height: 0.13333333rem;
  left: 0;
  top: 0.03333333rem;
  margin-right: 0.06666667rem;
}
.html_body #home .movieList .swiper-container2 .swiper-slide dl dd .starBox .bg {
  width: 0.58666667rem;
  height: 0.1rem;
  background: url(../img/gradeStar.png?v=MGC9UDODc%2BJagMKf%2BRYouA%3D%3D) no-repeat;
  background-size: 0.58666667rem 0.1rem;
  left: 0;
  top: 0;
  z-index: 3;
}
.html_body #home .movieList .swiper-container2 .swiper-slide dl dd .starBox .num {
  height: 0.1rem;
  background: #f47000;
  left: 0;
  top: 0;
  z-index: 2;
}
.html_body #home .movieList .swiper-container2 .swiper-slide dl dd .starBox .grayBg {
  width: 100%;
  height: 0.1rem;
  background: #e2e2e2;
}
.html_body #home .movieList .swiper-container2 .swiper-slide dl dd .gradeNum {
  color: #f47000;
  font-size: 0.14666667rem;
  line-height: 0.17333333rem;
}
.html_body #home .moviePlace {
  width: 100%;
  background: #fff;
}
.html_body #home .moviePlace .box {
  width: 100%;
  padding: 0.23333333rem 0.2rem 0.23333333rem 0.2rem;
  border-bottom: 1px #e5e5e5 solid;
}
.html_body #home .moviePlace .box dl {
  width: 4.6rem;
}
.html_body #home .moviePlace .box dl dt {
  line-height: 0.25333333rem;
  font-size: 0.2rem;
  color: #2b2b2b;
  padding-bottom: 0.06666667rem;
}
.html_body #home .moviePlace .box dl dd {
  color: #b2b2b2;
}
.html_body #home .moviePlace .box dl dd div {
  font-size: 0.16rem;
  line-height: 0.21333333rem;
  padding-left: 0.21333333rem;
  background: url(../img/addressIcon.png?v=trnS9iCIS7nBJpIn8v2akQ%3D%3D) no-repeat;
  background-position: 0rem 0.01333333rem;
  background-size: 0.14rem 0.18666667rem;
  width: 3.73333333rem;
}
.html_body #home .moviePlace .box dl dd span {
  width: 0.86666667rem;
  font-size: 0.16rem;
  line-height: 0.21333333rem;
}
.html_body #home .loadingIcon {
  width: 100%;
  height: 0.4rem;
  background: url(../img/load_gif.gif?v=bmbyqqTrOFOCYS36hZ2biw%3D%3D) no-repeat center center;
  background-size: 0.21333333rem 0.21333333rem;
}
.html_body #home .noThing {
  width: 100%;
  line-height: 0.53333333rem;
  font-size: 0.2rem;
  color: #2b2b2b;
}
#myModal .modal-dialog {
  top: 25%;
  margin: 0rem 0.2rem 0rem 0.2rem;
}
