.f-l {
  float: left;
}
.f-r {
  float: right;
}
.d-i {
  display: inline;
}
.d-ib {
  display: inline-block;
}
.d-b {
  display: block;
}
.nd-b {
  display: none;
}
.ta-l {
  text-align: left;
}
.ta-c {
  text-align: center;
}
.ta-r {
  text-align: right;
}
.va-t {
  vertical-align: middle;
}
.va-b {
  vertical-align: bottom;
}
.va-t {
  vertical-align: top;
}
.p-r {
  position: relative;
}
.p-a {
  position: absolute;
}
.p-f {
  position: fixed;
}
.text-h {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.clear:after {
  content: "";
  clear: both;
  width: 100%;
  display: block;
}
.html_body #movieScreening .nav {
  width: 100%;
  height: 0.66666667rem;
  left: 0;
  top: 0.59333333rem;
  z-index: 10;
  background: #f6f6f6;
  padding-bottom: 0.13333333rem;
}
.html_body #movieScreening .nav .navBox {
  width: 33.333333%;
  height: 0.53333333rem;
  color: #2b2b2b;
  left: 0;
  top: 0;
  z-index: 9;
  background: #fff;
}
.html_body #movieScreening .nav .navBox .text {
  width: 100%;
  line-height: 0.53333333rem;
  height: 0.53333333rem;
  font-size: 0.18666667rem;
}
.html_body #movieScreening .nav .navBox .arrowsIcon {
  width: 0.14666667rem;
  height: 0.08rem;
  left: 1.12666667rem;
  top: 0.22666667rem;
  background: url(../img/arrowsDown.png?v=NipClh6Pw5xQpoPrbI0CCQ%3D%3D) no-repeat left top;
  background-size: 0.14666667rem 0.08rem;
}
.html_body #movieScreening .nav .navBox.active {
  color: #dd2727;
}
.html_body #movieScreening .nav .navBox.active .arrowsIcon {
  background: url(../img/arrowsDownA.png?v=qgOWNlzkcmkBlyBqQmw48w%3D%3D) no-repeat left top;
  background-size: 0.14666667rem 0.08rem;
}
.html_body #movieScreening .listWrap {
  z-index: 7;
  left: 0;
  top: 0.65666667rem;
  padding-bottom: 0.67333333rem;
}
.html_body #movieScreening .listWrap .filmList {
  width: 100%;
  background: #fff;
}
.html_body #movieScreening .listWrap .filmList .box {
  padding: 0.21333333rem 0.2rem 0.21333333rem 0.2rem;
  border-bottom: 1px #e5e5e5 solid;
}
.html_body #movieScreening .listWrap .filmList .box:last-of-type {
  border-bottom: none;
}
.html_body #movieScreening .listWrap .filmList .box dl .leftBox {
  width: 3.56666667rem;
}
.html_body #movieScreening .listWrap .filmList .box dl .rightBox {
  width: 1.03333333rem;
}
.html_body #movieScreening .listWrap .filmList .box dl dt {
  line-height: 0.25333333rem;
  color: #2b2b2b;
}
.html_body #movieScreening .listWrap .filmList .box dl dt .leftBox {
  font-size: 0.2rem;
}
.html_body #movieScreening .listWrap .filmList .box dl dt .rightBox {
  font-size: 0.16rem;
  color: #b2b2b2;
}
.html_body #movieScreening .listWrap .filmList .box dl dt .rightBox span {
  font-size: 0.21333333rem;
  color: #dd2727;
}
.html_body #movieScreening .listWrap .filmList .box dl dd {
  line-height: 0.21333333rem;
  margin-top: 0.10666667rem;
  font-size: 0.16rem;
  color: #b2b2b2;
}
.html_body #movieScreening .listWrap .filmList .box dl dd .leftBox {
  padding-left: 0.2rem;
  background: url(../img/addressIcon.png?v=trnS9iCIS7nBJpIn8v2akQ%3D%3D) no-repeat;
  background-position: 0rem 0.01333333rem;
  background-size: 0.14rem 0.18666667rem;
}
.html_body #movieScreening .listWrap .loadingIcon {
  width: 100%;
  height: 0.4rem;
  background: url(../img/load_gif.gif?v=bmbyqqTrOFOCYS36hZ2biw%3D%3D) no-repeat center center;
  background-size: 0.21333333rem 0.21333333rem;
}
.html_body #movieScreening .listWrap .noThing {
  width: 100%;
  line-height: 0.53333333rem;
  font-size: 0.2rem;
  color: #2b2b2b;
}
.html_body #movieScreening .shadow {
  width: 100%;
  left: 0;
  top: 0.59333333rem;
  background: rgba(0, 0, 0, 0.8);
  z-index: 8;
  height: 100%;
}
.html_body #movieScreening .loadIcon {
  width: 0.33333333rem;
  height: 0.33333333rem;
  z-index: 12;
  left: 50%;
  top: 50%;
  background: url(../img/load_gif.gif?v=bmbyqqTrOFOCYS36hZ2biw%3D%3D);
  background-size: 0.33333333rem 0.33333333rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.html_body #movieScreening .fixWrap {
  width: 100%;
  left: 0;
  top: 1.26rem;
  z-index: 10;
}
.html_body #movieScreening .fixWrap .boxWrap {
  width: 100%;
}
.html_body #movieScreening .fixWrap .boxWrap .cityListWrap {
  width: 100%;
}
.html_body #movieScreening .fixWrap .boxWrap .boxList {
  width: 100%;
  overflow-y: auto;
}
.html_body #movieScreening .fixWrap .boxWrap .boxList .box {
  width: 100%;
  padding: 0.16666667rem 0.2rem 0.16666667rem 0.2rem;
  font-size: 0.2rem;
  line-height: 0.25333333rem;
  color: #2b2b2b;
  border-bottom: 1px #e5e5e5 solid;
  background: #fff;
}
.html_body #movieScreening .fixWrap .boxWrap .boxList .box.active {
  color: #dd2727;
}
.html_body #movieScreening .fixWrap .boxWrap .boxList .box .text {
  width: 4rem;
}
.html_body #movieScreening .fixWrap .boxWrap .boxList .box .num {
  width: 0.6rem;
  color: #b2b2b2;
}
.html_body #movieScreening .fixWrap .boxWrap .boxList .box:last-of-type {
  border-bottom: none;
}
.html_body #movieScreening .fixWrap .boxWrap .boxList .box:active {
  opacity: 0.8;
}
.html_body #movieScreening .fixWrap .boxWrap .cityNav {
  width: 100%;
  height: 0.59333333rem;
  border-bottom: 1px #e5e5e5 solid;
  background: #fff;
}
.html_body #movieScreening .fixWrap .boxWrap .cityNav .navBox {
  width: 50%;
  padding: 0rem 0.35333333rem 0rem 0.48rem;
  font-size: 0.2rem;
  line-height: 0.58666667rem;
  height: 0.59333333rem;
  color: #2b2b2b;
}
.html_body #movieScreening .fixWrap .boxWrap .cityNav .navBox span {
  width: 100%;
  height: 0.59333333rem;
  line-height: 0.58666667rem;
  border-bottom: 1px #e5e5e5 solid;
}
.html_body #movieScreening .fixWrap .boxWrap .cityNav .navBox.active span {
  color: #dd2727;
  border-bottom: 1px #dd2727 solid;
}
